@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-size: 16px;
  padding: 1,8em;
  font-family: 'Raleway', sans-serif; 
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-size: cover;
  background-image: url('img/bg3.png');
  background-position: center;
  color: grey;

  
}

header section p {

border-radius: 68%;
  border: 2px white;
  background-color: white;



}


header section {
  margin: 0 auto;
  width: 640px;
}

header img {
position: relative;
margin-left: 2px;
max-width: 150px;
border-radius: 50%;
border: 2px solid white;


}

h1 {
  margin: 1em 0;
  text-transform: uppercase;
  background-color: white;
  border-radius: 68%;
  border: 2px white;
  max-width: 500px;
}

main {
  max-width: 1140px;
}

.course {
}

.course .title {
}

.course .descrition {
}

.school span {
  color: #A7B8BF;
}

footer {
 padding: 1em;
}
